[submodule "lib/main/jutil"]
	path = lib/main/jutil
	url = /Users/joy/src/jutil
[submodule "lib/main/rapidjson"]
	path = lib/main/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "src/GA/jutil"]
	path = src/GA/jutil
	url = https://github.com/joy13975/jutil.git
